<tr id='client_<% client.id %>' onclick="<%= "location.href='#{admin_client_path(client)}'" %>">
  <td><%= link_to client.client_name, admin_client_path(client) %></td>
  <td><%= client.request_status_type %></td>
  <td><%= client.bail_status_type(@bail_statuses) %></td>
  <td>$<%= client.bail_amount %></td>
  <td><%= client.funds_withdrawal_date unless client.funds_withdrawal_date == '0000-00-00' %></td>
  <td><%= client.date_returned %></td>
  <td><%= client.facility %></td>
  <td><%= client.surety_name %></td>
  <td><%= client.gps_required %></td>
  <td><%= client.attorney_name %></td>
  <td><%= client.time_stamp&.strftime('%b %d %Y %I:%M %p') %></td></tr>
</tr>
