<% if params[:order] == 'court' %>
  <table class='table table-hover listing'>
    <thead>
      <tr>
        <th>Client</th>
        <th>Status</th>
        <th>Bail Status</th>
        <th>Bail Amount</th>
        <th>Facility</th>
        <th>Docket</th>
        <th>Court</th>
      </tr>
    </thead>
    <body>
      <% @clients.each do |client| %>
        <tr id='client_<% client.id %>' onclick="<%= "location.href='#{admin_client_path(client)}'" %>">
          <td><%= link_to client.client_name, admin_client_path(client) %></td>
          <td><%= client.request_status_type %></td>
          <td><%= client.bail_status_type(@bail_statuses) %></td>
          <td>$<%= client.bail_amount %></td>
          <td><%= @facilities.find{|fac| client.FACILITY.to_i == fac.id}.nil? ? '--' : @facilities.find{|fac| client.FACILITY.to_i == fac.id}.name %></td>
          <td><%= client.docket %></td>
          <td><%= client.court %></td>
        </tr>
      <% end %>
    </body>
  </table>
<% else %>
  <table class='table table-hover listing'>
    <thead>
      <tr>
        <th>Client</th>
        <th>Status</th>
        <th>Bail Status</th>
        <th>Bail Amount</th>
        <th>Date Posted</th>
        <th>Date Returned</th>
        <th>Facility</th>
        <th>Surety</th>
        <th>GPS?</th>
        <th>Attorney</th>
        <th>Date of Request</th>
      </tr>
    </thead>
    <body>
      <% if !@clientsGrouped %>
      <% @clients.each do |client| %>
        <tr id='client_<% client.id %>' onclick="<%= "location.href='#{admin_client_path(client)}'" %>">
          <td><%= link_to client.client_name, admin_client_path(client) %></td>
          <td><%= client.request_status_type %></td>
          <td><%= client.bail_status_type(@bail_statuses) %></td>
          <td>$<%= client.bail_amount %></td>
          <td><%= client.funds_withdrawal_date unless client.funds_withdrawal_date == '0000-00-00' %></td>
          <td><%= client.date_returned %></td>
          <td><%= @facilities.find{|fac| client.FACILITY.to_i == fac.id}.nil? ? '--' : @facilities.find{|fac| client.FACILITY.to_i == fac.id}.name %></td>
          <td><%= client.surety_name %></td>
          <td><%= set_boolean_to_yesno(client.gps_required) %></td>
          <td><%= client.attorney_name %></td>
          <td><%= client.time_stamp&.strftime('%b %d %Y %I:%M %p') %></td></tr>
        </tr>
      <% end %>
      <% end %>

      <% if @clientsGrouped %>
      <div class="btn" onclick=hideAllGroups()>
        Collapse all
      </div>
        <% @clientsGrouped.each do |clients| %>
          <tr onclick="hideGroup(<%= clients[0] %>)" id='clientgroup_parent_<%= clients[0][0] %>_<%= clients[0][1] %>' class='clientgroup_parent'>
            <td><strong><%= clients[1].count %> Clients</strong></td>
            <td><%= clients[1][0].request_status_type %></td>
            <td><%= clients[1][0].bail_status_type(@bail_statuses) %></td>
            <td>$<%=sum_bail_amounts(clients[1]) %> Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <% clients[1].each do |client| %>
            <tr id='client_<% client.id %>' onclick="<%= "location.href='#{admin_client_path(client)}'" %>"
              class='clientgroup_item_<%= clients[0][0] %>_<%= clients[0][1] %>'>
              <td><%= link_to client.client_name, admin_client_path(client) %></td>
              <td><%= client.request_status_type %></td>
              <td><%= client.bail_status_type(@bail_statuses) %></td>
              <td>$<%= client.bail_amount %></td>
              <td><%= client.funds_withdrawal_date unless client.funds_withdrawal_date == '0000-00-00' %></td>
              <td><%= client.date_returned %></td>
              <td><%= @facilities.find{|fac| client.FACILITY.to_i == fac.id}.nil? ? '--' : @facilities.find{|fac| client.FACILITY.to_i == fac.id}.name %></td>
              <td><%= client.surety_name %></td>
              <td><%= set_boolean_to_yesno(client.gps_required) %></td>
              <td><%= client.attorney_name %></td>
              <td><%= client.time_stamp&.strftime('%b %d %Y %I:%M %p') %></td></tr>
            </tr>
          <% end %>
        <% end %>
      </body>
    </table>
  <% end %>
<% end %>
