<%= simple_form_for @case_detail do |f| %>
  <div class="row">
    <div class="col-md-4">
        <div>
          <h3>Attorney</h3>

          <%= f.simple_fields_for :attorney do |f_attorney| %>
            <%= f_attorney.simple_fields_for :contact do |f_attorney_contact| %>
              <%= f_attorney_contact.input :name %>
              <%= f_attorney.input :email %>
              <%= f_attorney_contact.input :phone %>
            <% end %>
            <%= f_attorney.simple_fields_for :address do |f_attorney_address| %>
              <%= f_attorney_address.input :address %>
            <% end %>
          <% end %>
        </div>

        <div>
          <h3>Defendant</h3>

          <%= f.simple_fields_for :client do |f_client| %>
            <%= f_client.simple_fields_for :contact do |f_client_contact| %>
              <%= f_client_contact.input :name %>
              <%= f_client.input :email %>
              <%= f_client_contact.input :phone %>
            <% end %>
            <%= f_client.simple_fields_for :address do |f_client_address| %>
              <%= f_client_address.input :address %>
            <% end %>
            <%= f_client.input :birth_date, as: :date, html5: true %>
          <% end %>
        </div>

        <div>
          <h3>Reference</h3>

          <p><%= t('case_detail.third_party.description') %></p>
          <%= f.simple_fields_for :third_party do |f_third_party| %>
            <%= f_third_party.simple_fields_for :contact do |f_third_party_contact| %>
              <%= f_third_party_contact.input :name %>
              <%= f_third_party_contact.input :phone %>
            <% end %>
            <%= f_third_party.simple_fields_for :address do |f_third_party_address| %>
              <%= f_third_party_address.input :address %>
            <% end %>
            <%= f_third_party.input :relationship_to_client %>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <h3>Case Information</h3>

        <%= f.input :docket_number %>
        <%= f.input :charges %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :arraignment_date, as: :date, html5: true %>
          </div>
          <div class="col-sm-6">
            <%= f.input :appearance_date, as: :date, html5: true %>
          </div>
        </div>
        <%= f.input :bail_amount, as: :integer, html5: true %>
        <%= f.input :gps_required, as: :select %>
        <%= f.input :court %>

        <%= f.association :facility, collection: @facilities, prompt: :translate %>

        <%= f.input :open_cases_description, as: :text %>
        <%= f.input :warrants_description, as: :text %>
        <%= f.input :support_person_description, as: :text %>
        <%= f.input :released_upon_posting_description, as: :text %>
        <%= f.input :school_description, as: :text %>
        <%= f.input :employment_description, as: :text %>
        <%= f.input :housing_description, as: :text %>
        <%= f.input :history_description, as: :text %>
        <%= f.input :additional_info, as: :text %>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
