<p id="notice"><%= notice %></p>

<hr />
<h2>Users</h2>
<hr/>
<div class="row padding-left-small justify-content-between">

  <div class="col-md-6">
    <h4> Existing users </h5>
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            Contact tech admin to delete user
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="col-md-4 offset-md-4">
    <h4>Create new user</h5>
    <div class='small alert alert-warning'>
      Be sure to save the password you pick!
      You will need to send it to the new user in order for them to log in.
    </div>
    <%= simple_form_for @new_user, method: :post, url: admin_create_user_path do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.submit "Create" %>
    <% end %>
  </div>
</div>

<hr />
<h2>Settings</h2>
<hr />
<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
    <tr>
      <%= simple_form_for setting, method: :put do |f| %>
          <td><%= setting.name %></td>
          <td><%= f.text_field :value %></td>
          <td><%= f.submit "Update" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
