<p id="notice"><%= notice %></p>

<h2>Settings</h2>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
    <tr>
      <%= simple_form_for setting, method: :put do |f| %>
          <td><%= setting.name %></td>
          <td><%= f.text_field :value %></td>
          <td><%= f.submit "Update" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Users</h2>

<%= simple_form_for @user, method: :post do |f| %>
    <td><%= f.text_field :email %></td>
    <td><%= f.text_field :password %></td>
    <td><%= f.submit "Update" %></td>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
