<p id="notice"><%= notice %></p>

<h2>Settings</h2>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
    <tr>
      <%= simple_form_for setting, method: :put do |f| %>
          <td><%= setting.name %></td>
          <td><%= f.text_field :value %></td>
          <td><%= f.submit "Update" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Users</h2>

Create new user
<%= simple_form_for @new_user, method: :post, url: admin_create_user_path do |f| %>
  <%= f.text_field :email %>
  <%= f.text_field :password %>
  <%= f.submit "Create" %>
<% end %>
<br/>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
