<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= t('title') %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if can? :new, Client %>
          <li class="<%= active_tab_class(new_client_path, false) %>">
            <%= link_to t('navbar.new_client'), new_client_path %>
          </li>
        <% end %>
        <% if can? :index, Client %>
          <li class="<%= active_tab_class(admin_clients_path(scope: 'open'), true) %>">
            <%= link_to t('navbar.index_client_scope_open'), admin_clients_path(scope: 'open') %>
          </li>
        <% end %>
        <% if can? :index, Client %>
          <li class="<%= active_tab_class(admin_clients_path, false) %>">
            <%= link_to t('navbar.index_client'), admin_clients_path %>
          </li>
        <% end %>
        <% if can? :index, :reports %>
          <li class="<%= active_tab_class(admin_reports_path,
          sureties_admin_reports_path,
          clients_by_month_admin_reports_path,
          clients_by_year_admin_reports_path,
          clients_for_year_admin_reports_path,
          false) %>">
            <%= link_to t('navbar.index_reports'), admin_reports_path %>
          </li>
        <% end %>
        <% if can? :index, :settings %>
          <li class="<%= active_tab_class(new_user_session_path, false) %>">
            <%= link_to t('navbar.settings'), settings_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="<%= active_tab_class(destroy_user_session_path, false) %>">
            <%= link_to t('navbar.user_logout'), destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
        <% if !user_signed_in? && controller_name != 'clients' %>
          <li class="<%= active_tab_class(new_user_session_path, false) %>">
            <%= link_to t('navbar.user_login'), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
